
.carouselContainer {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  top:0;
  z-index: -1;
}

.carousel {
  top:0;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  width: 100vw;
  scroll-behavior: smooth;
}

.carouselItem  {
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}

.projectItem{
  height: 100dvh;
  width: 100vw;
}

.media {
 width: 100vw;
  height: 100lvh; 
  position: relative;
  object-fit: cover;
}

.image {
  display: block;
  width: 100vw;
  height: 100lvh;
 
}

.video {
  display: block;
  object-fit: cover;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: transparent; 
  border: none;
  color: #fff;
  cursor: pointer;
  animation: blink 5s linear infinite;
}

@keyframes blink{
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0.5;
  }
}

.prevButton {
  left: 10px;
}
.nextButton {
  right: 10px;
}

/* .prevButton:hover svg path ,
.nextButton:hover svg path  {
  fill: rgb(91, 201, 32);
} */

.wrapper {
bottom: 0;
height: 100vh;
width: 100vw;
position: absolute;
}

.title{
 position: absolute;
 bottom: 0;
 font-family: Graebenbach-RegularItalic;
 /* font-size: 1.5em; */
 color: rgb(91, 201, 32);
 mix-blend-mode: difference;
 text-transform: uppercase;
 padding-left: 2%; 
 z-index: 20;
 font-size: 3.3vmax;
 padding-bottom: 0.3em;
 width: 90%;
}

.expandButton{
  /* border:1px solid rgb(91, 201, 32); */
  border:1.5px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  bottom: calc(50% - 2.5em);
	left: calc(50% - 2.5em);
  height: 5em;
  width: 5em;
  cursor: pointer;
  background-color: rgba(247, 254, 254, 0.291);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.25);
}
.expandButton svg{
  stroke-width: 1px;
  stroke: black;
  stroke-width: 3;

}
/* 
.expandButton:hover {
  transform: rotate(90deg);
}
.expandButton:hover svg{
  transform: rotate(0deg);
  stroke: #7a0eb0;
} */
.expandButton.expanded svg {
 transform: rotate(45deg);
}

.expandButton.expanded {
  background-size:auto;
  background-position: bottom 50% right 50%;
  background-size: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.25);
}

/* .expandButton:hover{
  border:1px solid #7a0eb0;
} */

.expandedContent {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Add the transition here */
  overflow-x: hidden;
}

.expandedContent.expanded {
  opacity: 0.7;
}

.expandedContent .description {
  top: 0px;
  color: black;
  margin-bottom: 20rem;
  width: 90%;
  padding-left: 2em;
}

.expandedContent .detail {
  color: black;
  margin-top: 1rem;
  width: 90%;
  font-family: Graebenbach-RegularItalic;
  font-size: 0.9em;
  padding-bottom: 10em;
}

@media only screen and (min-width: 900px) {
  /* .title{
    font-size: 2em;
  } */

  .prevButton , .nextButton{
   animation: none;
  }
  .prevButton:hover svg path ,
  .nextButton:hover svg path  {
    fill: rgb(91, 201, 32);
    /* mix-blend-mode: difference;  */
  }
  .expandButton:hover {
    transform: rotate(90deg);
  }
  .expandButton:hover svg{
    transform: rotate(0deg);
    stroke: #7a0eb0;
  }
  .expandButton.expanded svg {
   transform: rotate(45deg);
  }
  .expandButton:hover{
    border:1px solid #7a0eb0;
  }
  
  .expandedContent {
    padding-top: 4rem;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 7rem;
    top:0;
  }

  .expandedContent .description {
    color: black;
    margin-bottom: 1rem;
    width: 50%;
    padding-left: 2em;
  }
  .expandedContent .detail {
    padding-bottom: 0em;
  }

  .relatedImages{
    width:50vw;
    height: 50vh;
  }

  .expandButton{
    bottom: 10%;
    height: 5em;
    width: 5em;
    right: 5%;
    left: auto;
  }
  .expandButton.expanded {
    background-size:auto;
    background-position: bottom -10px right -50px;
    background-size: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    mix-blend-mode:normal;
  }
}